<!DOCTYPE html>
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    <!-- jQuery and script -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="editor.js"></script>
    <script src="revai.js"></script>

    <!-- Latest compiled and minified CSS -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="styles.css">

    <title>fuji | Journal</title>
  </head>

  <body>
    <div class="container">
        <div class="header">
            <p>New Journal Entry: the current entry's ID is <font size="20">{{ currid }} </font></p>
        </div>

        <form class = 'form' action="/" method="post">
            <textarea id="journal-entry" type=textarea style="width: 500px; height: 400px;" name="journal-entry" placeholder="How was your day? How are you feeling?"></textarea> <br>
            <input type="submit" value="Complete Entry">
        </form>
        <button class = 'button' id="streamButton" onclick="doStream()">Record</button>
        <div id="last-saved"></div>

        {% if entries %}
            <div class="grid-container past-entries">
                <h3>Past Journal Entries</h3>
                {% for entry in entries %}
                    <div class="grid-item" id="{{ entry.id }}">
                      <p>Last modified: {{ entry.last_modified }}</p>
                      <br />
                      <p>{{ entry.content }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="old">
            <form action="/past" method="post">
                <input id="past-entry-num" type=textarea name="past-entry-num" placeholder="Enter id of previous journal entry you wish to access">
                <input type="submit" value="Enter ID">
            </form>
        </div>

        <br>
        <br>
        <a href="/logout">Logout of your account</a>
    </div>

  </body>

</html>
